/* line 1, ../scss/style.scss */
html, body {
  display: block;
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 10, ../scss/style.scss */
a:link, a:visited {
  display: block;
  color: #020202;
  opacity: 0.8;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  padding: 4px 0px 4px 4px;
  -webkit-transition: all 0.5s ease-in-out;
}

/* line 24, ../scss/style.scss */
a:hover {
  color: #FFF;
  opacity: 1.0em;
  text-transform: none;
}

/* line 29, ../scss/style.scss */
a:active {
  color: #FEE;
  opacity: 1.0em;
  text-transform: none;
}

/* line 34, ../scss/style.scss */
.dg, .dg li.title, .dg.main .close-button {
  color: #ABABAB;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.1em;
  text-transform: none;
  text-decoration: none;
  opacity: 50%;
}

/* line 44, ../scss/style.scss */
header {
  color: #ABABAB;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 30%;
  margin-top: -250px;
  margin-left: -250px;
  padding: 5px;
  z-index: 1000;
  opacity: 0.95;
}

/* line 58, ../scss/style.scss */
h1 {
  font-family: 'Exo', sans-serif;
  font-size: 96px;
  color: #000;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

/* line 65, ../scss/style.scss */
h2 {
  font-family: 'Exo', sans-serif;
  color: #000;
  font-weight: 300;
}

/* line 71, ../scss/style.scss */
h5 {
  font-family: 'Exo', sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2em;
}

/* line 79, ../scss/style.scss */
p, li {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: none;
  text-decoration: none;
  padding-bottom: 18px;
  letter-spacing: 2px;
}

/* line 90, ../scss/style.scss */
select {
  background: #303030;
  width: auto;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  color: #ABABAB;
  letter-spacing: 0.2em;
  text-transform: none;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
  cursor: hand;
}

/* line 106, ../scss/style.scss */
article p, article li {
  font-size: 16px;
}

/* line 110, ../scss/style.scss */
header p, header a:link, header a:visited {
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
}
/* line 114, ../scss/style.scss */
header p img, header a:link img, header a:visited img {
  width: 100%;
  height: auto;
}
/* line 119, ../scss/style.scss */
header h1, header h2 {
  text-align: center;
}

/* line 123, ../scss/style.scss */
article {
  display: block;
  width: 60%;
  height: auto;
  clear: both;
  position: relative;
  margin: 0 auto;
  padding-bottom: 60px;
}

/* line 132, ../scss/style.scss */
#drop_zone {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 297px;
  height: 297px;
  border: 1px solid #101010;
  z-index: 1000;
  background: url("img/dropzone.png");
  background-size: cover;
  background-repeat: repeat;
}
/* line 144, ../scss/style.scss */
#drop_zone p {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -300px;
  margin-top: 0px;
}
/* line 151, ../scss/style.scss */
#drop_zone li {
  padding-bottom: 2px;
  padding-top: 2px;
}
/* line 155, ../scss/style.scss */
#drop_zone li:first-child {
  padding-top: 6px;
}

/* line 159, ../scss/style.scss */
#video_drop {
  position: absolute;
  top: 328px;
  left: 0;
  display: block;
  width: 297px;
  height: 297px;
  border: 1px solid #101010;
  z-index: 1000;
  background: url("img/dropvid.png");
  background-size: cover;
  background-repeat: repeat;
}
/* line 172, ../scss/style.scss */
#video_drop p {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -300px;
  margin-top: 0px;
}
/* line 179, ../scss/style.scss */
#video_drop li {
  padding-bottom: 2px;
  padding-top: 2px;
}
/* line 183, ../scss/style.scss */
#video_drop li:first-child {
  padding-top: 6px;
}

/* line 187, ../scss/style.scss */
#topfill {
  position: absolute;
  top: 0;
  left: 297px;
  width: 100%;
  display: block;
  height: 20px;
  background: #010101;
}

/* line 196, ../scss/style.scss */
#read_files {
  position: relative;
  top: -45px;
  left: 50%;
  margin-left: -59px;
  cursor: pointer;
  cursor: hand;
}

/* line 204, ../scss/style.scss */
#read_video {
  position: relative;
  top: -50px;
  left: 50%;
  margin-left: -60px;
  cursor: pointer;
  cursor: hand;
}

/* line 212, ../scss/style.scss */
#close_drop {
  position: absolute;
  top: 627px;
  left: 0px;
  display: block;
  width: 300px;
  height: 20px;
  background: #010101;
  text-align: center;
}

/* line 222, ../scss/style.scss */
#close_drop:hover {
  cursor: pointer;
  cursor: hand;
}

/* line 227, ../scss/style.scss */
#close_drop p {
  color: #ababab;
  opacity: 0.8;
  position: relative;
  top: -10px;
}
/* line 234, ../scss/style.scss */
#close_drop p:hover {
  color: #FFF;
  opacity: 1.0;
  text-transform: none;
}

/* line 240, ../scss/style.scss */
audio {
  position: absolute;
  top: 298px;
  left: 0;
  display: none;
}

/* line 246, ../scss/style.scss */
#playlist, #videoplaylist {
  list-style-type: none;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
/* line 254, ../scss/style.scss */
#playlist li, #videoplaylist li {
  list-style-type: none;
  display: block;
  width: 100%;
  height: 20px;
  background: #010101;
}

/* line 262, ../scss/style.scss */
#gui_container {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
  width: 245px;
  height: auto;
  background: #010101;
}

/* line 271, ../scss/style.scss */
.cancel {
  display: block;
  width: 4%;
  height: 20px;
  background: #F00;
  opacity: 0.5;
  position: relative;
  float: right;
  top: 0px;
  z-index: 9999;
}

/* line 282, ../scss/style.scss */
.dg {
  color: #ababab !important;
  font: 10px "Lato", sans-serif !important;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: none;
  text-decoration: none;
  text-shadow: none !important;
}
/* line 292, ../scss/style.scss */
.dg .has-slider input[type=text] {
  width: 26% !important;
  color: #ababab !important;
}
/* line 298, ../scss/style.scss */
.dg li.save-row .button {
  margin-top: 6px !important;
}
/* line 304, ../scss/style.scss */
.dg li.save-row select {
  position: relative !important;
  top: -3px !important;
}
/* line 310, ../scss/style.scss */
.dg li.save-row {
  background: #010101 !important;
}
/* line 312, ../scss/style.scss */
.dg li.save-row .button {
  background-color: #303030 !important;
  box-shadow: none !important;
}
/* line 320, ../scss/style.scss */
.dg .c .slider-fg {
  background: transparent !important;
  background-color: transparent !important;
  border-right: 1px solid #ababab !important;
}
/* line 327, ../scss/style.scss */
.dg .cr.number {
  border-left: 1px solid black !important;
}
/* line 331, ../scss/style.scss */
.dg .cr.boolean {
  border-left: 3px solid black !important;
}
/* line 334, ../scss/style.scss */
.dg .c select {
  width: 100%;
  height: 19px;
  margin-left: -4px;
}

/* line 341, ../scss/style.scss */
.dg.main .close-button {
  color: #ababab !important;
  opacity: 0.8 !important;
}
/* line 345, ../scss/style.scss */
.dg.main .close-button:hover {
  color: white !important;
  opacity: 1em !important;
  text-transform: none !important;
  -webkit-transition: all 0.5s ease-in-out !important;
}
